body {
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
  font-family: "Montserrat", sans-serif;
  margin-top: 60px;
  display: block;
  text-align: center;
}

header {
  margin: 80px auto;
}

h1 {
  color: #274141;
}

.form-group {
  margin-bottom: 1.25em;
  padding: 0.25em;
}

form {
  max-width: 800px;
  margin: 15px auto;
  text-align: left;
  background: #fdbb2d;
  padding: 60px;
  border-radius: 15px;
  opacity: 0.8;
}

#name,
#number,
#email,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-top: 0.25rem;
  min-height: 1rem;
  min-width: 1rem;
}

input[type="submit"] {
  width: 100%;
  background-color: #406f85;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #2c5668;
}

#textarea {
  width: 100%;
  box-sizing: content-box;
  background-color: rgb(243, 250, 232);
  margin-top: 1.1em;
  overflow: auto;
}
